<!DOCTYPE html>
<html lang="en">
  <!-- head tag -->
  <head>
    <%- include('./partials/head.ejs') %>
    <title>Home Page</title>
  </head>

  <body>
    <!-- navbar -->
    <%- include('./partials/navbar.ejs') %>
    <!-- navbar ends -->

    <!-- center content -->
    <div
      class="d-flex justify-content-center align-items-center vh-100 home-container"
    >
      <div class="text-center w-100">
        <h1 id="dashboard">DASHBOARD</h1>
        <p>DriveTest Booking Kiosk</p>
      </div>
    </div>
    <!-- center content ends -->
  </body>
</html>
