<!DOCTYPE html>
<html lang="en">
  <!-- head tag -->
  <head>
    <%- include('./partials/head.ejs') %>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="css/login.css" />
  </head>

  <body>
    <!-- navbar -->
    <%- include('./partials/navbar.ejs') %>
    <!-- navbar ends -->

    <!-- construction starts -->
    <div class="d-flex justify-content-center align-items-center bg-light">
      <div class="text-center">
        <h2 class="p-4 text-info">Under Construction !</h2>
      </div>
    </div>
    <!-- construction ends -->

    <div class="container mt-4">
      <div class="row">
        <!-- Sign Up Section -->
        <div class="col-sm-7">
          <h2>Sign Up</h2>
          <form action="/signup" method="POST">
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                class="form-control"
                id="signupUsername"
                placeholder="Username"
                name="username"
              />
            </div>

            <div class="form-group">
              <label for="signupPassword">Password</label>
              <input
                type="password"
                class="form-control"
                id="signupPassword"
                placeholder="Password"
                name="password"
              />
            </div>

            <div class="form-group">
              <label for="signupRepeatPassword">Repeat Password</label>
              <input
                type="password"
                class="form-control"
                id="signupRepeatPassword"
                placeholder="Repeat Password"
                name="repeatPassword"
              />
            </div>

            <div class="form-group">
              <label for="userType">Select User Type:</label>
              <select class="form-control" id="userType" name="userType">
                <option value="Driver">Driver</option>
                <option value="Examiner">Examiner</option>
                <option value="Admin">Admin</option>
              </select>
            </div>

            <button type="submit" class="btn btn-primary">Sign Up</button>
          </form>
        </div>

        <!-- Vertical Line (Between Columns) -->
        <div class="col-sm-1 horizental-line">
          <hr class="vertical-line" id="vertical-line" />
          <!-- Hidden on small screens (sm) -->
          <div class="d-none d-sm-block border-left"></div>
        </div>

        <!-- Sign In Section -->
        <div class="col-sm-4">
          <h2>Sign In</h2>
          <form action="/login" method="POST">
            <!-- sign-in form fields here -->
            <div class="form-group">
              <label for="signinUsername">Username</label>
              <input
                type="text"
                class="form-control"
                id="signinUsername"
                placeholder="Enter Userame"
                name="username"
              />
            </div>
            <div class="form-group">
              <label for="signinPassword">Password</label>
              <input
                type="password"
                class="form-control"
                id="signinPassword"
                placeholder="Enter Password"
                name="password"
              />
            </div>

            <button type="submit" class="btn btn-primary">Sign In</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
